* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bgImg {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    width: 90vw;
    height: 100%;
    background-size: cover;
    background-image: url(./clocks.jpg);
    opacity: 0.08;
}

.container {
    position: relative;
    width: 80vw;
    margin: auto;
    padding: 50px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 3.5rem;
    font-family: serif;
    margin-bottom: 50px;
}

.enterContainer {
    text-align: center;
    font-size: 2rem;
}

.enterContainer input {
    font-size: 1.5rem;
}

.enterContainer input[type=button] {
    cursor: pointer;
}


/* 
.imgDiv {
    background-image: url('https: //flagcdn.com/w320/il.png');
} */

#changeCountry {
    display: none;
    width: 300px;
    height: 50px;
    background-color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    margin: auto;
    margin-bottom: 50px;
}

#reload:hover {
    box-shadow: #000 3px 3px;
}

.boxesContainer {
    width: 90%;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: row;
}


.boxesContainer .box {
    margin: auto;
    padding: 25px;
    width: 250px;
    height: 180px;
    text-align: center;
    font-size: 2rem;
    background-color: #151515;
    border: #fff solid 5px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}


.boxesContainer .box h2 {
    color: blue;
    font-size: 2.5rem;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
}

#flagsDiv {
    width: 300px;
    height: 200px;
    z-index: 1000;
}

#output {
    display: none;
    width: 30%;
    height: 210px;
    background-color: #151515;
    color: #fff;
    padding: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}

#mapDiv {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
    .bgImg {
        width: 90vw;
        left: 5%;
    }

    #output {
        width: 300px;
    }

    .boxesContainer {
        flex-direction: column;
    }
}